<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List details</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<nav th:replace="base :: nav"></nav>
<div class="space5"></div>
<div class="container bg-light py-3">
    <h1>List Details</h1>

    <a href="/">Show All Items</a><br/>
    What :<span th:text="${list.what}"></span><br/>
    Due date :<span th:text="${list.dueDate}"></span><br/>
    Priority :<p th:text="${list.priority}"></p><br/>

    <a th:href="@{/delete/{id}(id=${list.id})}">Delete if done</a>

    <div class="space10"></div>
    <span th:replace="base :: jslinks"></span>
</div>
</body>
</html>